/Add.class
/AddGivenObject.class
/AddNew.class
/ArrayException.class
/Get.class
/ListMethods.class
/Print.class
/Remove.class
/RemoveGivenObject.class
/RemoveStandard.class
/Reset.class
/Set.class
/AddStandard.class
